
/*-------------------
      Site Colors
--------------------*/

/*---   Neutrals  ---*/
$white            : #FFFFFF;
$greyLight        : #E2E9E9;
$greyLightest     : #F4F6F6;
$greyLightMed     : #CDD7DA;
$grey             : #A2ABB9;
$greyDark         : #637083;
$greyDarkBlue     : #4C587B;
$greyDarkestBlue  : #2B2C46;
$navy             : #191F38;
$black            : #000000;

/*---  Colors  ---*/
$blue             : #3B6CF6;
$blueLight        : #8BA8F9;
$blueLightest     : #F7F9FD;
$green            : #238752;
$greenLight       : #32C376;
$greenLightest    : #ECFAF2;
$orange           : #F56600;
$orangeLight      : #FF8D00;
$orangeLightest   : #FFF6E0;
$red              : #E82118;
$redLight         : #F58F8A;
$redLightest      : #FDF5F2;
$teal             : #00857E;
$tealLight        : #00BFB6;
$yellow           : #FBBD08;

/*-------------------
        Page
--------------------*/

$textColor        : $navy;

$primaryColor      : $blue;
$primaryHCMColor   : $blueLight;

$secondaryColor    : $greyDark;
$secondaryHCMColor : $grey;

$tertiaryColor     : $green;
$tertiaryHCMColor  : $greenLight;
