$header-height: 65px;
$header-mobile-height: 40px;
$header-width: 11rem;
$header-mobile-width: 11rem;

$responsive-w-320: 320px;
$responsive-w-375: 375px;
$responsive-w-424: 424px;
$responsive-w-480: 480px;
$responsive-w-600: 600px;
$responsive-w-640: 640px;
$responsive-w-768: 768px;
$responsive-w-800: 800px;
$responsive-w-1024: 1024px;
$responsive-w-1280: 1280px;
$responsive-w-1366: 1366px;
$responsive-w-1600: 1600px;
$responsive-w-1920: 1920px;
$responsive-w-2560: 2560px;
$responsive-w-3008: 3008px;
$responsive-w-3360: 3360px;
$responsive-w-3840: 3840px;

/*-------------------
        Page
--------------------*/

$pageOverflowX: hidden;
$lineHeight: 1.4285em;

/* This is the single variable that controls them all */
$emSize: 16px;

/* The size of page text  */
$fontSize: 16px;

$printFontSize: 13px;

@function num($value) {
  @return ($value / ($value * 0 + 1));
}

@function em($pixels, $context: $emSize) {
  @return (num($pixels) / num($context)) * 1em;
}

@function rem($pixels) {
  @return (num($pixels) / num($fontSize)) * 1rem;
}

@function em-pad($height, $lineHeight: $lineHeight, $context: $emSize) {
  @return (((num($height) / num($context)) - num($lineHeight)) / 2) * 1em;
}
